.card {
  transition: all 0.2s linear;
  box-shadow: 3px 9px 15px -8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 3px 9px 15px -8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 9px 15px -8px rgba(0, 0, 0, 0.6);
}
.card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.mainModal_txt::first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
